@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

/* Base styles */
body {
  font-family: var(--font-sans);
}
